{{extend 'layout.html'}}

{{if auth.user:}}
	{{=H3( T('Bienvenido, %s', auth.user.username) )}}
	Tu llave: <blockquote>{{=auth.user.llave}}</blockquote>
	{{=A( T('[editar]'), _href=URL(f='user',args=['profile'], vars=dict(_next=URL('mkhosts'))) )}}
{{else:}}
	{{=T('Si tenés tu nodo, lo podés registrar')}} {{ =A(T('aquí'), _href=URL(f='user', args=['register'], vars=dict(_next=URL('mkhosts')))) }} 
{{pass}}

{{=H4('Nodos disponibles')}}
<ul>
	{{for nodo in nodos:}}
		{{=LI(A(nodo.username, _href=URL(f='key', args=nodo.username)))}}
	{{pass}}
</ul>
{{=A( T('Descargar todas las claves'), _href=URL('static','hosts.tar.gz') )}}
